<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="fragment/header :: HeaderFragment">
	<title>BOMNARA FRAMEWORK</title>
	<body id="page-top">
	    <!-- Page Wrapper -->
	    <div id="wrapper">
			
	        <!-- Sidebar -->
	        <nav th:replace="fragment/navi :: NaviFragment"/>
	        <!-- End of Sidebar -->
	
	        <!-- Content Wrapper -->
	        <div id="content-wrapper" class="d-flex flex-column"/>
	
	            <!-- Main Content -->
			    <div id="content">
					<!-- Topbar -->
					<nav th:replace="fragment/top :: TopFragment"/>
					
			        <!-- End of Topbar -->            
            		<th:block layout:fragment="Content"></th:block>
	            		
	            </div>            
	            <!-- End of Main Content -->
	
	            <!-- Footer -->
	           <footer th:replace="fragment/footer :: FooterFragment"/>
	            <!-- End of Footer -->
	
	        </div>
	        <!-- End of Content Wrapper -->
	
	    </div>
	    <!-- End of Page Wrapper -->
	
	</body>
</html>