<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/layout_Navi}" layout:fragment="Content">
<head>
	<title>BOMNARA - Main</title>
	<style type="text/css">
		#dataTable {
		  table-layout: fixed;
		}
	</style>
	<script type="text/javascript">
	
	//토큰 생성
	function fnGenerateToken(){
		$.ajax({
		    url: '/api/token/getGenerateToken',
		    method: 'post',		    
		    dataType : 'json',
		    success: function (data, status, xhr) {		        
		        console.info(data);
		        $("#pToken").html(data.token);
		        fnGetTokenList();
		    },
		    error: function (data, status, err) {
		    	if(data.status==401){
		    		alert("권한이 없습니다. 로그인페이지로 이동합니다.");
		    		location.href='/login';
		    	}
// 		    	alert("[status:"+status);
		    },
		    complete: function () {
		        
		    }
		});
		
	}
	var temp;
	//토큰 리스트 조회
	function fnGetTokenList(){
		
		$.ajax({
		    url: '/api/token/getTokenList',
		    method: 'post',		    
		    dataType : 'json',
		    success: function (data, status, xhr) {
		    	temp = data;
		        var setData = []; // 배열 하나 만들어 주기!
		        data.token.content.forEach(function(item){
		        	var tableData = {
		                data1 : item.id,
		                data2 : item.token,
		                data3 : item.createDate,
		                data4 : item.expiredDate
		            }
		            setData.unshift(tableData); // 만들어진 배열에 tableData push하기.
		        });
		        $('#dataTable').DataTable({
		        		data : setData,
		                columns : [
		                    { data : 'data1' },
		                    { data : 'data2' },
		                    { data : 'data3' },
		                    { data : 'data4' }
		                ], 
		                columnDefs: [
		                		{ width: '10px', targets: 0 }
		                		,{ width: '350px', targets: 1 }
		                		,{ width: '100px', targets: 2 }
		                		,{ width: '100px', targets: 3 }
		                		],
		                order:[0,'desc'],
		                fixedColumns: true,
		                autoWidth: false,
		                searching: false,
		                destroy: true,
		        		paging: false
		        });
		    },
		    error: function (data, status, err) {
		    },
		    complete: function () {
		        
		    }
		});
		
	}
	$(document).ready(function(){
		fnGetTokenList();
	});
	</script>
</head>
	
<body id="page-top">
	
	<!-- Begin Page Content -->
	<div class="container-fluid">
	
	    <!-- Page Heading -->
	    <div class="d-sm-flex align-items-center justify-content-between mb-4">
	        <h1 class="h3 mb-0 text-gray-800">JWT TOKEN</h1>
	    </div>
	
	    <!-- Content Row -->

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Generate TOKEN</h6>
			</div>
			<div class="card-body">
				<div class="row" style="padding-bottom:20px;">
					<a href="javascript:fnGenerateToken();" class="btn btn-secondary btn-icon-split"> 
						<span class="icon text-white-50"> <i class="fas fa-arrow-right"></i></span> 
						<span class="text">GET TOKEN</span>
					</a>
				</div>
				<p id="pToken">...</p>
				
			</div>
		</div>

		<!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Generate TOKEN History</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>IDX</th>
                                <th>TOKEN</th>
                                <th>CRE_DTIME</th>
                                <th>EXPIRED_DTIME</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">                                                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

	</div>
	<!-- /.container-fluid -->
			
	 <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
<!--     <script src="js/demo/datatables-demo.js"></script> -->
	    
	    
	
</body>
</html>