<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/layout_noNavi}" layout:fragment="Content">
<head>
	<title>BOMNARA - Register</title>
	<style>
    @media (min-width: 1200px) {
		  .container, .container-sm, .container-md, .container-lg, .container-xl {
		    max-width: 900px;
		  }
		}
		    
    </style>
    <script type="text/javascript">
	//페이지 로드 완료 후 실행 
	$(document).ready(function(){
		
	});
	var isProcessing = false;
	const fnRegister = function(){
		if(isProcessing){
			return;
		}
		isProcessing = true;
		$("#divViewMsg").text("");
		if($("#userId").val().trim()==""){
			$("#divViewMsg").text("이메일주소를 입력해주세요!");
			$("#userId").focus();
			return;
		}
		email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
		if(!email_regex.test($("#userId").val())){
			$("#divViewMsg").text("이메일 주소 형식이 잘못되었습니다.");
			$("#userId").focus();
			return;
		}
		if($("#pwd").val().trim()==""){
			$("#divViewMsg").text("패스워드를 입력해주세요!");
			$("#pwd").focus();
			return;
		}
		if($("#rePwd").val().trim()==""){
			$("#divViewMsg").text("확인용 패스워드를 입력해주세요!");
			$("#rePwd").focus();
			return;
		}
		
		if($("#pwd").val() != $("#rePwd").val()){
			$("#divViewMsg").text("확인용 패스워드가 일치하지 않습니다.");
			$("#rePwd").focus();
			return;
		}
		
		$.ajax({
		    url: '/registerProc',
		    method: 'post',
		    data : $("#frm").serialize(),
		    dataType : 'json',
		    success: function (data, status, xhr) {
		        console.log("data : : " + JSON.stringify(data));
		        isProcessing = false;
		        if(data.result_code != '000'){
		        	$("#divViewMsg").text(data.result_message);
		        }else{
		        	$("#divViewMsg").text("등록되었습니다.");
		        	document.querySelector(".btn").removeAttribute('href');
		        	setTimeout(function () {
	        			location.href="/login";
	        		}, 1000);
		        }
		        
		    },
		    error: function (data, status, err) {
		    },
		    complete: function () {
		        
		    }
		});
		
	}
	
	</script>
</head>
<body class="bg-gradient-primary">
    <div class="container"> 

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">                    
                    <div class="col-lg-12" >
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" onsubmit="return false;" autocomplete="off" id="frm" name="frm">                                
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="userId" name="userId" value="user@abc.def"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="pwd" name="pwd" value="Q123trtre4q!"
                                            placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="rePwd" value="Q123trtre4q!"
                                            placeholder="Repeat Password">
                                    </div>
                                </div>
                                <a href="javascript:fnRegister();" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>
                                <div class="text-center" style="padding-top:10px;" id="divViewMsg"></div>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
